.App {
    display: flex;
    height: 100%;

    text-align: center;

    background-color: lightblue;
    /* background-color: lightskyblue; */
    /* background-color: dodgerblue; */
    /* background-color: cornflowerblue; */
}

.ConfigWrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;

    height: 50%;
    width: 100%;
    margin: 10%;
    
    align-self: center;
    align-items: center;
}

.PlayerWrapper {
    grid-column: 1;
}
.CurrencyWrapper {
    grid-column: 2;
}
.OtherWrapper {
    grid-column: 3;
}

.ListWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
}

button#submit {
    width: auto;
    height: auto;
    align-self: center;
}
