.App {
    display: flex;
    height: 100%;

    text-align: center;

    background-color: mintcream;
    /* background-color: lightblue; */
    /* background-color: lightskyblue; */
    /* background-color: dodgerblue; */
    /* background-color: cornflowerblue; */
}
